@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
}
h1, p, a{
    font-family: 'Merriweather';
}
h1 {
    font-weight:400;
    font-size:70px;
    word-spacing: 5px;
}
a{
    text-decoration: none;
    font-size:20px;
    color:black;
}
#n1{
    width:100vw;
    height:100vh;
    background-image:url(../img/illustration1.gif);
    background-size:35%;
    background-position: right;
    background-repeat:no-repeat;
}
#top > ul{
    list-style: none;
    text-align: right;
    margin-right: 20px;
}
#top > ul > li{
    display: inline;
}
#top > ul > li > a{
    padding:0 5px 0 10px;
    font-family: 'Lato';
}
#n1 > h1{
    margin-left: 10%;
    margin-top: 11%;
}
#n1 > p{
    font-size:25px;
    font-weight: 300;
    line-height:40px;
    margin-left: 10%;
    word-spacing: 5px;
}
#n1 > a:nth-child(4){
    background-color:black;
    color:#fff;
    padding: 15px;
    border-radius: 5px;
    margin-left: 10%;
}
#n1 > a:nth-child(5){
    background-color: #fff;
    padding:15px;
    border-radius: 5px;
    box-shadow: 7px 7px #f5fbfe;
    margin-left: 10px;
}
#n2{
    width:100vw;
    height:100vh;
    background-image: url(../img/illustration2.png);
    background-repeat: no-repeat;
    background-size:30%;
    background-position: 12%;
}
#n2 > h1{
    margin-left:50%;
    padding-top:10%;
}
#n2 > p{
    font-size:25px;
    font-weight: 300;
    line-height:40px;
    margin-left:50%;
    word-spacing: 5px;
}
#n3{
    width:100vw;
    height:100vh;
    background-image: url(../img/illustration3.png);
    background-repeat: no-repeat;
    background-size:30%;
    background-position:80% 50%;
}
#n3 > h1{
    padding-top:17%;
    margin-left:10%;
}
#n3 > p{
    font-size:25px;
    font-weight: 300;
    line-height:40px;
    margin-left:10%;
    word-spacing: 5px;
}
#n4{
    width:100vw;
    height:100vh;
    text-align: center;
}
#n4 > h1{
    padding-top: 8%;
}
#n4 > p{
    font-size:25px;
    font-weight: 300;
    line-height:40px;
    word-spacing: 5px;
}
#n4 > div > img:nth-child(1){
    padding-right:1%;
}
#n4 > div > img:nth-child(2){
    padding-left:1%;
}
#n4 > div > img:nth-child(3){
    padding-left:2%;
}
#n4 > div > img:hover{
    box-shadow:10px 10px 10px 10px #f5fbfe;
}
#n5{
    width:100vw;
    height:auto;
    text-align:center;
}
#n5 > h1{
    padding-top:3%;
}
#n5 > p{
    font-size:25px;
    font-weight: 300;
    line-height:40px;
    word-spacing: 5px;
}
#n5 > div > img{
    padding:30px 20px;
}
#n5 > div > img:hover{ 
    box-shadow: 0px 0px 17px -1px #2B2B2B;
}
#n6{
    width:100vw;
    height:auto;
    text-align: center;
}
#n6 > h1{
    padding-top:3%;
}
#n6 > p{
    font-size:25px;
    font-weight: 300;
    line-height:40px;
    word-spacing: 5px;
}
#n6 > div{
    background-color:#f5fbfe;
    width:400px;
    height:600px;
    margin-left:40%;
    border-radius: 10px;
}
#n6 > div > .uber6{
    padding-top:30px;
    font-size:30px;
}
#n6 > div > .uber7{
    padding-top:30px;
    font-size:60px;
    font-weight:900;
}
#n6 > div > .py{
    color:lightgrey;
}
#n6 > div > a{
    background-color: #24bff2;
    color:#fff;
    padding:15px 30px;
    border-radius: 5px;
}
footer{
    text-align: center;
    padding-top:30px;
}
footer > h1{
    font-size:75px;
}
footer > a{
    padding-left:5px;
}
footer > p{
    color:lightgrey;
}
footer > a:nth-child(5) > em{
    color:#3b5998;
    font-size:50px;
}
footer > a:nth-child(6) > em{
    color:#feaf45;
    font-size:50px;
}
footer > a:nth-child(7) > em{
    color:#55acee;
    font-size:50px;
}
footer > a:nth-child(8) > em{
    color:#c4302b;
    font-size:50px;
}

